.boday-container {
    margin-left: 120px;
    display: flex;

}



.container1 {
    display: flex;
    flex-direction: column;
}


.job-card {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 600px;
    border-radius: 8px;
}

.job-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.logo {
    width: 60px;
    height: 60px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 15px;
}

.job-title {
    font-size: 20px;
    font-weight: bold;
}

.job-info {
    margin: 10px 0;
}

.job-info span {
    display: inline-block;
    margin-right: 15px;
}

.save-icon {
    float: right;
    font-size: 20px;
    color: #e74c3c;
    cursor: pointer;
}

/* dưới này container2 cửa CV đã nộp */
.cv-box {
    display: none;
  width: 40vw; /* 4/10 chiều rộng màn hình */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fdfdfd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.cv-box h2 {
  margin-top: 0;
  font-size: 22px;
  color: #333;
  text-align: center;
}

.cv-item {
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.cv-label {
  font-weight: bold;
  color: #555;
  min-width: 160px;
}

.cv-value {
  color: #222;
}

