<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quên mật khẩu</title>
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}" />
  </head>

  <body>
    <div class="container" style="width: 420px; height: 330px">
      <div class="form-container" style="width: 100%; position: relative">
        <form method="POST" action="{% url 'forgot_password' %}">
          {% csrf_token %}
          <h1>Quên mật khẩu</h1>

          <div class="infield">
            <input
              type="email"
              name="email"
              placeholder="Nhập email của bạn"
              required
            />
            <label></label>
          </div>

          <button type="submit">Gửi yêu cầu</button>

          <a href="{% url 'login' %}" style="margin-top: 15px"
            >Quay lại đăng nhập</a
          >
        </form>
      </div>
    </div>
  </body>
</html>
