<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOME DECOR - ĐĂNG NHẬP</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="{% static 'app/css/login.css' %}" />
  </head>
  <body data-show-register="{% if show_register %}true{% else %}false{% endif %}">
    <div class="container " id="container">
      <div class="form-container sign-up-container">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <h1>Đăng ký</h1>
          <div class="infield">
            <input type="text" placeholder="Tên" name="full_name" required />
            <label></label>
          </div>
          <div class="infield">
            <input type="email" placeholder="Email" name="email" required />
            <label></label>
          </div>
          <div class="infield">
            <input
              type="text"
              name="phone"
              placeholder="Số điện thoại"
              required
            />
          </div>
          <div class="infield">
            <input
              type="password"
              name="password"
              placeholder="Mật khẩu"
              required
              minlength="8"
            />
            <label></label>
            <small class="password-note"
              >  Mật khẩu ≥ 8 ký tự, có chữ hoa và ký tự đặc biệt</small
            >
          </div>
          <div class="infield">
            <input
              type="password"
              name="confirm_password"
              placeholder="Xác nhận mât khẩu"
              required
            />
            <label></label>
          </div>
          <div class="infield">
            <select name="role" required>
              <option value="candidate">Ứng viên</option>
              <option value="employer">Nhà tuyển dụng</option>
            </select>
          </div>
{% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    {% if "register" in message.tags %}
                        <li class="{{ message.tags }}">{{ message }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endif %}
          <button type="submit">Đăng ký</button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <h1>Đăng nhập</h1>
          <div class="infield">
            <input
              type="email"
              placeholder="Email"
              name="email_login"
              required
            />
            <label></label>
          </div>
          <div class="infield">
            <input
              type="password"
              placeholder="Mật khẩu"
              name="password_login"
              required
            />
            <label></label>
          </div>
          {% comment %}
          <div class="remember-forgot">
            <a href="{% url 'forgot_password' %}" class="forgot"
              >Quên mật khẩu?</a
            >
          </div>
          {% endcomment %}

          <button type="submit">Đăng nhập</button>
         {% if messages %}
<ul class="messages">
    {% for message in messages %}
        {% if "login" in message.tags %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}

        </form>
      </div>
      <div class="overlay-container" id="overlayCon">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>CV.ROP</h1>
            <p>
              Để tiếp tục kết nối với chúng tôi, vui lòng đăng nhập bằng thông
              tin cá nhận của bạn
            </p>
            <button>Đăng nhập</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>CV.ROP</h1>
            <p>
              Hãy nhập thông tin cá nhận của bạn và bắt đầu hành trình cùng
              chúng tôi
            </p>
            <button>Đăng ký</button>
          </div>
        </div>
        <button id="overlayBtn"></button>
      </div>
    </div>

    <script src="../../static/app/js/login_JS.js"></script>
  </body>
</html>