<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header class="navbar">
    <div class="logo">
        <img
                id="logo"
                src="https://thumbs.dreamstime.com/b/letter-cv-logotype-design-company-name-colored-blue-swoosh-vector-logo-business-identity-203865393.jpg"
                alt=""
        />
        <span>ROP</span>
    </div>

    <nav class="menu">
        <a href="{% url 'ListJob' %}">Trang chủ</a>
        <a href="{% url 'functionPost' %}">Đăng bài</a>
        <a href="{% url 'manaPostCV' %}">CV đã ứng tuyển</a>
        <a href="#">Liên hệ</a>
    </nav>

    <div class="actions">
        <a href="{% url 'logout' %}" class="login-btn">Log out</a>
    </div>
</header>
</body>
</html>