<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Danh sách công việc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Icon Bootstrap (nếu muốn dùng icon đẹp hơn) -->
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="{% static 'app/css/nav.css' %}"/>
    <link rel="stylesheet" href="{% static 'app/css/ListJob.css'%}"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />

</head>

<body>
{% if messages %} {% for message in messages %}
<div
        class="alert alert-success alert-dismissible fade show custom-alert"
        role="alert"
>
    <strong>{{ message }}</strong>
    <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
    ></button>
</div>
{% endfor %} {% endif %}

{% include "admin\header.html" %}

<div class="page-header">
    <h1>Danh sách công việc đã đăng tuyển</h1>
</div>

<section class="job-section">
    <div class="container1">
        {% for job in jobs %}
        <div class="job-card">
            <div class="job-header">
                <div class="logo"><i class="fa-solid fa-briefcase"
                                     style="margin: auto; font-size: 25px; color: #009688"></i></i></div>
                <div>
                    <div class="job-title">{{ job.title }}</div>
                    <div class="company">{{ job.company }}</div>
                </div>
            </div>

            <div class="job-info">
                <span>📍Địa điểm: {{ job.location }}</span>
            </div>

            <div class="job-info">
                <span>💰Mức lương: {{ job.salary_min }} - {{ job.salary_max }}</span>
            </div>

            <div class="btn_detail">
                <a href="{% url 'admin_post_detail' job.id %}">
                    <button>Xem chi tiết</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
      const alerts = document.querySelectorAll(".custom-alert");

      alerts.forEach((alert) => {
        // Hiển thị alert
        setTimeout(() => {
          alert.classList.add("show");
        }, 100);

        // Tự động ẩn sau 4 giây
        setTimeout(() => {
          alert.classList.remove("show");
          // Xóa hoàn toàn khỏi DOM sau khi fade out
          setTimeout(() => {
            alert.remove();
          }, 500);
        }, 4000);
      });
    });
</script>
</body>
</html>
