<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ĐĂNG NHẬP</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../../static/app/css/login.css" />
  </head>
  <body>
    <div class="container" id="container">
      <div class="form-container sign-in-container full-width-form">
        <form action="#">
          <h1>Đăng nhập</h1>

          <div class="infield">
            <input
              type="email"
              placeholder="Email"
              name="email"
              autocomplete="off"
            />
            <label></label>
          </div>

          <div class="infield">
            <input
              type="password"
              placeholder="Mật khẩu"
              autocomplete="new-password"
            />
            <label></label>
          </div>
          <button>Đăng nhập</button>
        </form>
      </div>
    </div>
  </body>
</html>
