<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'app/css_user/home.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'app/css_user/ChangePassword.css' %}"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img
          id="logo"
          src="https://thumbs.dreamstime.com/b/letter-cv-logotype-design-company-name-colored-blue-swoosh-vector-logo-business-identity-203865393.jpg"
          alt=""
        />
        <h1>ROP</h1>
      </div>

      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Trang Chủ</a></li>
            <li><a href="{% url 'appliedJobsList' %}">Lịch sử ứng tuyển</a></li>
        </ul>


        <div class="search-box">
          <input type="text" placeholder="Tìm kiếm công việc..." />
          <button type="submit">Tìm</button>
        </div>

        <div class="account-wrapper">
          <a href="#" class="btn-account">Tài Khoản</a>
          <div class="account-submenu">
            <a href="{% url 'user_personalprofile' %}" class="btn-submenu-item"
              >Hồ sơ cá nhân</a
            >
            <a href="{% url 'appliedJobsList' %}" class="btn-submenu-item"
              >Việc làm đã ứng tuyển</a
            >
            <a href="{% url 'ChangePassword' %}" class="btn-submenu-item"
              >Đổi mật khẩu</a
            >
            <a href="{% url 'login' %}" class="btn-submenu-item">Đăng xuất</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="main-content">
      <div class="change-password-container">
        <h2>ĐỔI MẬT KHẨU</h2>

        <form class="password-form" action="#" method="POST">
          <div class="form-group">
            <label for="old_password">Mật khẩu cũ:</label>
            <input
              type="password"
              id="old_password"
              name="old_password"
              required
            />
          </div>

          <div class="form-group">
            <label for="new_password">Mật khẩu mới:</label>
            <input
              type="password"
              id="new_password"
              name="new_password"
              required
            />
          </div>

          <div class="form-group">
            <label for="confirm_password">Xác nhận mật khẩu mới:</label>
            <input
              type="password"
              id="confirm_password"
              name="confirm_password"
              required
            />
          </div>

          <button type="submit" class="btn-submit-password">
            Đổi Mật Khẩu
          </button>
        </form>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 JobFinder. All rights reserved.</p>
    </footer>
  </body>
</html>
