<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header class="header">
      <div class="logo">
        <img
          id="logo"
          src="https://thumbs.dreamstime.com/b/letter-cv-logotype-design-company-name-colored-blue-swoosh-vector-logo-business-identity-203865393.jpg"
          alt=""
        />
        <h1>ROP</h1>
      </div>

      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Trang Chủ</a></li>
          <li><a href="{% url 'appliedJobsList' %}">Lịch sử ứng tuyển</a></li>
        </ul>

        <form action="search" method="get" class="search-box">
           {% csrf_token %}
          <input type="text" placeholder="Tìm kiếm công việc..." name="boxsearch" value="{{bs}}" />
          <button type="submit">Tìm</button>
        </form>

        <div class="account-wrapper">
          <a href="#" class="btn-account">Tài Khoản</a>
          <div class="account-submenu">
            <a href="{% url 'user_personalprofile' %}" class="btn-submenu-item"
              >Hồ sơ cá nhân</a
            >
            <a href="{% url 'appliedJobsList' %}" class="btn-submenu-item"
              >Việc làm đã ứng tuyển</a
            >
            <a href="{% url 'ChangePassword' %}" class="btn-submenu-item"
              >Đổi mật khẩu</a
            >
            <a href="{% url 'logout' %}" class="btn-submenu-item">Đăng xuất</a>
          </div>
        </div>
      </nav>
    </header>
</body>
</html>