<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'app/css_user/home.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img
          id="logo"
          src="https://thumbs.dreamstime.com/b/letter-cv-logotype-design-company-name-colored-blue-swoosh-vector-logo-business-identity-203865393.jpg"
          alt=""
        />
        <h1>ROP</h1>
      </div>

      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="{% url 'home' %}">Trang Chủ</a></li>
          <li><a href="{% url 'appliedJobsList' %}">Lịch sử ứng tuyển</a></li>
        </ul>

        <div class="search-box">
          <input type="text" placeholder="Tìm kiếm công việc..." />
          <button type="submit">Tìm</button>
        </div>

        <div class="account-wrapper">
          <a href="#" class="btn-account">Tài Khoản</a>
          <div class="account-submenu">
            <a href="{% url 'user_personalprofile' %}" class="btn-submenu-item"
              >Hồ sơ cá nhân</a
            >
            <a href="{% url 'appliedJobsList' %}" class="btn-submenu-item"
              >Việc làm đã ứng tuyển</a
            >
            <a href="{% url 'ChangePassword' %}" class="btn-submenu-item"
              >Đổi mật khẩu</a
            >
            <a href="{% url 'login' %}" class="btn-submenu-item">Đăng xuất</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="main-content">
      <div class="title">
        <h2>Các Bài Đăng Tuyển Dụng</h2>
       <form id="sortForm" method="get" style="display:inline">
          <select name="sort" id="loc" class="loc" onchange="this.form.submit()">
            <option value="newest" {% if sort == 'newest' %}selected{% endif %}>Mới nhất</option>
            <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>Cũ nhất</option>
          </select>
        </form>
      </div>

      <div class="job-listings">
        <!-- Thay các job-card cứng bằng loop -->
        {% for job in jobs %}
        <div class="job-card">
          <div class="job-header">
            <h3>{{ job.title }}</h3>

            <span class="job-salary">
              {% if job.salary_min and job.salary_max %}{{ job.salary_min }} -
              {{ job.salary_max }} Triệu VND{% elif job.salary_min %}{{
              job.salary_min }} Triệu VND{% elif job.salary_max %}{{
              job.salary_max }} Triệu VND{% else %}{% endif %}
            </span>
          </div>

          <p class="job-company">{{ job.company }}</p>

          <p class="job-location">{{ job.location }}</p>
          <p class="job-date">{{ job.create_at }}</p>

          <ul class="job-tags">
            {% if job.skills %}
            <li><span class="tag">{{ job.skills }}</span></li>
            {% endif %}
          </ul>

          <a href="{% url 'detailPost' job.id %}" class="btn-detail"
            >Xem Chi Tiết</a
          >
        </div>
        {% empty %}
        <p>Không có bài đăng.</p>
        {% endfor %}
      </div>
    </main>

    <footer>
      <p>&copy; 2025 JobFinder. All rights reserved.</p>
    </footer>
  </body>
</html>
