<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'app/css_user/home.css' %}" />
  </head>
  <body>
{% include "user\header.html" %}
    <main class="main-content">
      <div class="title">
        <h2>Các Bài Đăng Tuyển Dụng</h2>
       <form id="sortForm" method="get" style="display:inline">
          <select name="sort" id="loc" class="loc" onchange="this.form.submit()">
            <option value="newest" {% if sort == 'newest' %}selected{% endif %}>Mới nhất</option>
            <option value="oldest" {% if sort == 'oldest' %}selected{% endif %}>Cũ nhất</option>
          </select>
        </form>
      </div>

      <div class="job-listings">
        <!-- Thay các job-card cứng bằng loop -->
        {% for job in jobs %}
        <div class="job-card">
          <div class="job-header">
            <h3>{{ job.title }}</h3>

            <span class="job-salary">
              {% if job.salary_min and job.salary_max %}{{ job.salary_min }} -
              {{ job.salary_max }} Triệu VND{% elif job.salary_min %}{{
              job.salary_min }} Triệu VND{% elif job.salary_max %}{{
              job.salary_max }} Triệu VND{% else %}{% endif %}
            </span>
          </div>


          <p class="job-company">{{ job.company }}</p>

          <p class="job-location">{{ job.location }}</p>
          <p class="job-date">{{ job.create_at }} - {{job.end_date}}</p>

          <ul class="job-tags">
            {% if job.skills %}
            <li><span class="tag">{{ job.skills }}</span></li>
            {% endif %}
          </ul>

          <a href="{% url 'detailPost' job.id %}" class="btn-detail"
            >Xem Chi Tiết</a
          >
        </div>
        {% empty %}
        <p>Không có bài đăng.</p>
        {% endfor %}
      </div>
    </main>

    <footer>
      <p>&copy; 2025 JobFinder. All rights reserved.</p>
    </footer>
  </body>
</html>