<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'app/css_user/home.css' %}"/>
    <link
            rel="stylesheet"
            href="{% static 'app/css_user/personalprofile.css' %}"
    />
</head>
<body>
{% include "user/header.html" %}
<main class="main-content">
    <div class="profile-container">
        <h2 class="section-title"></h2>

        <form class="profile-card" id="profileEditForm" action="{% url 'user_personalprofile' %}" method="post">
            {% csrf_token %}
            <div class="profile-header">
                <div class="profile-photo">
                    <div class="avatar-circle">
                        <img
                                src="https://i.pinimg.com/1200x/20/70/06/207006a284e424f8b4331af883b6215c.jpg"
                                alt="Ảnh đại diện"
                                id="user-avatar"
                        />
                    </div>
                    <button class="btn-change-photo" type="button">
                        <i class="fas fa-camera"></i>
                    </button>
                </div>

                <div class="user-info-brief">
                    <label for="userName" class="label-name-edit">Họ và Tên:</label>
                    <input
                            type="text"
                            class="edit-field-name"
                            id="userName"
                            value="{{user.fullname}}"
                            name="name" required
                    />
                </div>
            </div>

            <div class="profile-details details-grid-container">
                <div class="detail-item-edit">
                    <label for="birthDate"
                    ><i class="fas fa-calendar-alt icon-detail"></i> Ngày
                        sinh:</label
                    >
                    <input
                            type="date"
                            id="birthDate"
                            class="edit-input"
                            value="{{ user.birthday|date:'Y-m-d' }}"
                            name="birthday" required
                    />
                </div>

                <div class="detail-item-edit">
                    <label for="phone"
                    ><i class="fas fa-phone icon-detail"></i> Điện thoại:</label
                    >
                    <input
                            type="tel"
                            id="phone"
                            class="edit-input"
                            value="{{user.phone}}"
                            name="phone" required
                    />
                </div>

                <div class="detail-item-edit">
                    <label for="email"
                    ><i class="fas fa-envelope icon-detail"></i> Email:</label
                    >
                    <input
                            type="email"
                            id="email"
                            class="edit-input readonly-input"
                            value="{{user.email}}"
                            name="email" required
                    />
                </div>

                <div class="detail-item-edit">
                    <label for="gender"
                    ><i class="fas fa-venus-mars icon-detail"></i> Giới tính:</label
                    >
                    <select id="gender" class="edit-input" name="sex" required="">
                        <option value="">Chọn giới tính</option>
                        <option value="Nam">Nam</option>
                        <option value="Nữ" selected>Nữ</option>
                    </select>
                </div>
            </div>

            <button class="btn-save-profile" type="submit">
                <i class="fas fa-save"></i> LƯU THAY ĐỔI
            </button>
            <div style="font-size: 20px; margin-top:20px ;text-align: center; color: green;">
                {{ notify }}
            </div>
        </form>
    </div>
</main>

<footer>
    <p>&copy; 2025 JobFinder. All rights reserved.</p>
</footer>
</body>
</html>
