<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="../../static/app/css_user/home.css" />
    <link
      rel="stylesheet"
      href="../../static/app/css_user/personalprofile.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img
          id="logo"
          src="https://thumbs.dreamstime.com/b/letter-cv-logotype-design-company-name-colored-blue-swoosh-vector-logo-business-identity-203865393.jpg"
          alt=""
        />
        <h1>TUYỂN DỤNG NHÂN SỰ</h1>
      </div>

      <nav class="navbar">
        <ul class="nav-links">
          <li><a href="home.html">Trang Chủ</a></li>
        </ul>

        <div class="search-box">
          <input type="text" placeholder="Tìm kiếm công việc..." />
          <button type="submit">Tìm</button>
        </div>

        <div class="account-wrapper">
          <a href="#" class="btn-account">Tài Khoản</a>

          <div class="account-submenu">
            <a href="personalprofile.html" class="btn-submenu-item"
              >Hồ sơ cá nhân</a
            >
            <a href="ChangePassword.html" class="btn-submenu-item"
              >Đổi mật khẩu</a
            >
            <a href="../login/login.html" class="btn-submenu-item">Đăng xuất</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="main-content">
      <div class="profile-container">
        <h2>HỒ SƠ CÁ NHÂN</h2>

        <div class="profile-card">
          <div class="profile-photo">
            <div class="avatar-circle">
              <div class="placeholder-icon"></div>
            </div>
          </div>

          <div class="profile-details">
            <p>Họ và Tên: <span> Tran Van A</span></p>
            <p>Ngày sinh:: <span>01/01/1970</span></p>
            <p>Điện thoại: <span></span></p>
            <p>Email: <span>tranvana@gmail.com</span></p>
            <p>Địa chỉ: <span></span></p>

            <button class="btn-edit-profile">
              <i class="fas fa-pencil-alt"></i> Chỉnh sửa thông tin cá nhân
            </button>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>&copy; 2025 JobFinder. All rights reserved.</p>
    </footer>
  </body>
</html>
